<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schema/config.xsd">
    <optimization>
        <compress>
            <field id="compress_html" type='bool' value="true" />
            <field id="html" type='bool' value="true" />
        </compress>
    </optimization>
</config>